# x-archived-from: arthur-ai-oauth-v1-api-openapi.yml
# x-archived-on: 2026-09-16
openapi: 3.2.0
info:
  title: Arthur Scope Agents V1 OAuth V1 API
  version: 0.1.0
servers:
- url: https://platform.arthur.ai/api
  description: Base URL declared by the provider in apis.yml (roadmap#122).
tags:
- name: OAuth V1
paths:
  /api/v1/auth/oidc/.well-known/openid-configuration:
    get:
      tags:
      - OAuth V1
      summary: Get Openid Configuration Metadata
      description: Returns well-known openid configuration for Arthur auth server
      operationId: get_openid_configuration
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                additionalProperties: true
                type: object
                title: Response Get Openid Configuration
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'
components:
  schemas:
    InternalServerError:
      properties:
        detail:
          type: string
          title: Detail
          default: Internal server error
      type: object
      title: InternalServerError
  securitySchemes:
    OAuth2AuthorizationCode:
      type: oauth2
      flows:
        authorizationCode:
          refreshUrl: https://platform-auth.arthur.ai/realms/arthur/protocol/openid-connect/token
          scopes: {}
          authorizationUrl: https://platform-auth.arthur.ai/realms/arthur/protocol/openid-connect/auth
          tokenUrl: https://platform-auth.arthur.ai/realms/arthur/protocol/openid-connect/token
